<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :content %>
    <%= f.input :is_active %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
