<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @bio.image %>
</p>

<p>
  <strong>Story:</strong>
  <%= @bio.story %>
</p>

<%= link_to 'Edit', edit_bio_path(@bio) %> |
<%= link_to 'Back', bios_path %>
