<%= simple_form_for @entry, :remote => true do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this chessgame from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= "Time for your daily reflection! Is this a free-writing section, or would you like to be interviewed?" %>
  </p>
  <p>
    <%= "Put the free-writing button here" %>
  </p>
  <p>
    <%= "Put the interview button here -- and note that these could be two separate form types, and that interviews could belong to happenings as well as reflections.   We should also probably ask whether they've had a good day or not, and help them make things better if it wasn't a good day." %>
  </p>
 
  <p>
    <%= f.input :title %>
  </p>

  <%= fields_for :questions do |builder| %>
    <%= render 'questions/form', f: builder %>
  <% end %>

  <p>
    <%= f.input :message %>
  </p>

   <p>
    <%= f.input :image %>
  </p>
  
  <%= f.hidden_field :message_type, value: 'reflection' %>

  <p><%= f.submit %></p>
<% end %>