<%= content_tag "div", id: "placelat", data: {latitude: params[:latitude]} do %>
  <% end %>

  <%= content_tag "div", id: "placelong", data: {longitude: params[:longitude]} do %>
  <% end %>

  <%= content_tag "div", id: "loc-token", data: {locationtokens: Location.where(id: params[:location_tokens]) } do %>
  <% end %>

<%= form_for Entry.new do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :type, value: 'snapshot' %>

  <div id="snapshot-location">
    <%= f.label :location_tokens, "Name of this place?" %><br />
    <%= f.text_field :location_tokens %>
    
  </div>

  <div id="place-results"><input type="button" value="Show nearby places" onclick="pickPlace()" id="nearbyplaces"><p id="resultshere"></p></div>

  <div id="snapshot-address">
    <%= f.label :address %><br />
    
    <%= f.text_field :address, value: params[:address], :id => "form-address" %>

      <span id="somebuttons"><input type="button" value="pick this place" onclick="formAddress()" id="addressbutton">
      OR
      <input type="button" value="use current location" onclick="formCurrentLocation()" id="currentlocationbutton">
    </span>
    
  </div>





   <div id="snapshot-latitude">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude, value: params[:latitude], :readonly => true, :id => "form-latitude" %>
  </div>

  <div id="snapshot-latitude">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude, value: params[:longitude], :readonly => true, :id => "form-longitude" %>
  </div>



  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <%= f.hidden_field :message_type, value: 'snapshot' %>



  <br>

  <div id="map-canvas" style="width: 0px; height: 0px; margin: 0px; margin-bottom: 0px;"></div>


  
  <p><%= f.submit %></p>
<% end %>