<%= simple_form_for @entry, :html => {multipart: true} do |f| %>  
  <p>
    <%= f.input :image %>
  </p>

  <p>
    <%= f.label :written_on %>
    <%= f.text_field :written_on %>
  </p>

  <p>
    <%= f.label :remote_image_url, "or image URL" %>
    <%= f.input :remote_image_url %>
  </p>

  <p>
    <%= f.input :title %>
  </p>
  <p>
    <%= f.input :message, as: :text %>
  </p>

  <p>
    <%= f.input :tag_list, 
                :id => "entry_tags", 
                "data-pre" => @entry.tags.map(&:attributes).to_json %>
  </p>

  <%= f.hidden_field :message_type, value: 'snapshot' %>
  <%= f.hidden_field :latitude, value: params[:latitude] %>
  <%= f.hidden_field :longitude, value: params[:longitude] %>

  <p><%= f.submit %></p>
<% end %>