<%= content_tag "div", id: "placelat", data: {latitude: params[:latitude]} do %>
  <% end %>

  <%= content_tag "div", id: "placelong", data: {longitude: params[:longitude]} do %>
  <% end %>

  <%= content_tag "div", id: "loc-token", data: {locationtokens: Location.where(id: params[:location_tokens]) } do %>
  <% end %>


<%= simple_form_for @entry, :html => {multipart: true} do |f| %>  



  <div id="snapshot-location">
    <%= f.label :location_tokens, "Location" %><br />
    <%= f.text_field :location_tokens %>
    <input type="button" value="Show nearby places" onclick="pickPlace()">
  </div>

  <div id="place-results"></div>

  <div id="snapshot-address">
    <%= f.label :address %><br />

    <%= f.text_field :address, value: params[:address], :id => "form-address" %>
    <input type="button" value="pick this place" onclick="formAddress()">
    OR
    <input type="button" value="use current location" onclick="formCurrentLocation()" id="currentlocationbutton">
  </div>


   <div id="snapshot-latitude">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude, value: params[:latitude], :readonly => true, :id => "form-latitude" %>
  </div>

  <div id="snapshot-latitude">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude, value: params[:longitude], :readonly => true, :id => "form-longitude" %>
  </div>


  <p>
    <%= f.input :image %>
  </p>


  <%= f.hidden_field :type, value: 'snapshot' %>

  <p>
    <%= f.label :written_on %>
    <%= f.text_field :written_on %>
  </p>

  <p>
    <%= f.label :remote_image_url, "or image URL" %>
    <%= f.input :remote_image_url %>
  </p>

  <p>
    <%= f.input :title %>
  </p>

  <p>
    <%= f.input :message, as: :text %>
  </p>

  <p>
    <%= f.input :tag_list, 
                :id => "entry_tags", 
                "data-pre" => @entry.tags.map(&:attributes).to_json %>
  </p>

  <%= f.hidden_field :message_type, value: 'snapshot' %>

  <p><%= f.submit %></p>
<% end %>
<div id="map-canvas" style="width: 0px; height: 0px; margin: 0px; margin-bottom: 0px;"></div>
