<%= simple_form_for Entry.new do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :type, value: 'snapshot' %>
  
  <p>
    <%= f.label :image %><br />
    <%= f.input :image %>
  </p>

  <p>
    <%= f.label :title %><br />
    <%= f.input :title %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.input :message, as: :text %>
  </p>

  <p>
    <%= f.label :tag_list, "Tags (separate with a comma)" %>
    <%= f.input :tag_list, 
                :id => "entry_tags", 
                "data-pre" => @entry.tags.map(&:attributes).to_json %>
  </p>

  <%= f.hidden_field :message_type, value: 'snapshot' %>
  
  <p><%= f.submit %></p>
<% end %>