<%= @huh %><br>
Latitude is <%= @lat %><br>
Longitude is <%= @long %><br>
<%= form_for Entry.new do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this chessgame from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :type, value: 'snapshot' %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <%= f.hidden_field :message_type, value: 'snapshot' %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>

   <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude, value: params[:latitude] %>
  </p>

  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude, value: params[:longitude] %>
  </p>

  <%= check_box_tag(:current_location) %>
  <%= label_tag(:current_location, "use this location") %>

  <div class="current-location">
    <%= link_to "use current_location", locations_current_location_path, remote: true %>
  </div>

  <br>
  
  <p><%= f.submit %></p>
<% end %>