<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>
<p>
  <strong>Message:</strong>
  <%= @entry.message %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @entry.image.to_s %>
</p>


<p>
  <%= link_to "Edit", edit_entry_path(@entry) %> |
  <%= link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", entries_path %>
</p>
