<p id="notice"><%= notice %></p>


<%= link_to 'new snapshot', new_entry_path(:message_type => 'snapshot') %>
<%= link_to 'new happening', new_entry_path(:message_type => 'happening') %>
<%= link_to 'new reflection', new_entry_path(:message_type => 'reflection') %>

<%= render @user.bios.last.story %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
