<p id="notice"><%= notice %></p>

<%= link_to 'create snapshot', new_entry_path(:message_type => 'snapshot') %>
<%= link_to 'create happening', new_entry_path(:message_type => 'happening') %>
<%= link_to 'create reflection', new_entry_path(:message_type => 'reflection') %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
