<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= include_gon %>
  <%= stylesheet_link_tag "application", "token-input", media: "all" %>
  <%= javascript_include_tag "application", "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
/*    #map-canvas { height: 100% }
    #map-canvas img{max-width:none;}*/
  </style>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgz3JV4xG6PhM2cuSm_oAKyncf6WMR4xI&sensor=true">
  </script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true">
  </script>
  <script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <link rel="stylesheet" href="colorbox.css" />
  <script src="jquery.min.js"></script>
  <script src="jquery.colorbox-min.js"></script>
</head>

<div class="navbar">
  <div class="navbar-inner">
    <div class ="container-fluid">
      <div id="navbar-content">
        <a class="logo" href='root_path'>Logo Goes Here</a>
            <ul class="nav">
              <% if user_signed_in? %>
              <li>
                <%= link_to "Logout", destroy_user_session_path %>
              </li>
              <li>
                <%= link_to "Destroy Account", user_path(current_user), method: :delete %>
                <!-- data: { confirm: "You sure?" }  -->
              </li>
              <% end %>
            </ul>
          </div>
    </div>
  </div>
</div>

<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
      <div class="sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
          <li id="snapshot-box">
            <%= link_to 'Snapshot', new_entry_path(:message_type => 'snapshot') %>
          </li>
          <li id="happening-box">
            <%= link_to 'Happening', new_entry_path(:message_type => 'happening') %>
          </li>
          <li id="reflection-box">
            <%= link_to 'Reflection', new_entry_path(:message_type => 'reflection') %>
          </li>
        </ul>
      </div>
    </div>

    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>

<script type="text/javascript">
   $('.dropdown-menu').on('click', function (e) {
     e.stopPropagation()
     });</script>

</body>
</html>
