<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "token-input", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "jquery.tokeninput", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
  </style>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgz3JV4xG6PhM2cuSm_oAKyncf6WMR4xI&sensor=true">
  </script>

  <script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <p>You are <%= current_user.email %>
    <%= link_to "Logout", destroy_user_session_path %></p>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %>
  <% end %>

<%= yield %>

<script type="text/javascript">
   $('.dropdown-menu').on('click', function (e) {
     e.stopPropagation()
     });</script>

</body>
</html>
